body {
  background-color: lightblue;
}


article {
  display: block;
  padding-top: 85px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:x-large;
  color: white;

  width: 400px;
  height: 200px;
  background-color: rgb(107, 107, 187);
  border: solid 2px rgb(32, 32, 109);
  box-shadow:
    inset 60px 0 120px rgb(35, 35, 116),
    inset -60px 0 120px rgb(15, 15, 75);

}

section img 
{
  width: 200px;


}



h2 {
border-top: 3px solid;
font-size: 35px;


}

h1 {
text-align: center;
font-size: 35px;
}

p {
  font-size: x-large;
  margin-left:20px;
  margin-bottom: 80px;
  display: inline-block;
  position: absolute;
  word-wrap: break-word;
  padding-top: 40px;
  margin-left:20px;
}

button {
background-color: black;
font-size: 25px;
color: black;
border-radius: 15px;
}

button {
display: inline-block;
margin-left: auto;
margin-right: auto;


}

