body {
  background-color: midnightblue;
}
span {
  background-color: white;
}
a {
  background-color: white;
}
article {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:x-large;
  color: white;
  width: 400px;
  height: 200px;
  background-color: rgb(107, 107, 187);
  border: solid 2px rgb(32, 32, 109);
  box-shadow:
    inset 60px 0 120px rgb(35, 35, 116),
    inset -60px 0 120px rgb(15, 15, 75);
}